<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsmflying.mybatis.internal.mapper.StudentMapper">

	<resultMap id="StudentResultMap" type="Student">
	    <id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="sex" column="sex"/>
		<result property="birthDate" column="birthDate"/>

	</resultMap>
	<insert id="add" parameterType="Student">
		insert into students(id,name,sex,birthDate) values(#{id},#{name},#{sex},#{birthDate})
	</insert>
	<insert id="save" parameterType="Student">
		update students set name=#{name},sex=#{sex},birthDate=#{birthDate} where 1=1 and id=#{id}
	</insert>
	<select id="get" parameterType="int" resultType="Student">
		select * from students where id=#{id}
	</select>
	<delete id="delete" parameterType="int">
		delete from students where id=#{id}
	</delete>
	<select id="getAllList" resultType="Student">
		select * from students
	</select>
</mapper>
		