
#*.jar
#*.war
#*.ear

#.classpath
#.project
.settings

/fsmflying/
/fsmflying/bin/
/fsmflying-spring/
/fsmflying-spring/bin/
/fsmflying-mybatis/
/fsmflying-mybatis/bin/
/fsmflying-hibernate/
/fsmflying-hibernate/bin/
/fsmflying-jpa/
/fsmflying-jpa/bin/

*.jar
