<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsmflying.mybatis.mapper.SysDictItemMapper">

	<resultMap id="SysDictItemResultMap" type="SysDictItem">
	    <id property="itemId" column="itemId" />
		<result property="dirId" column="DirId"/>
		<result property="itemName" column="ItemName"/>
		<result property="itemValue" column="ItemValue"/>
		<result property="isDefault" column="IsDefault"/>
		<result property="showOrder" column="ShowOrder"/>
		<result property="memo" column="Memo"/>
		<result property="dbDeleted" column="DbDeleted"/>
		<result property="dbCreateBy" column="DbCreateBy"/>
		<result property="dbCreateTime" column="DbCreateTime"/>
		<result property="dbLastUpdateBy" column="DbLastUpdateBy"/>
		<result property="dbLastUpdateTime" column="DbLastUpdateTime"/>
		<result property="displayName" column="DisplayName"/>

	</resultMap>
	<insert id="add" parameterType="SysDictItem">
		insert into sys_dictitems(ItemId,DirId,ItemName,ItemValue,IsDefault,ShowOrder,Memo,DbDeleted,DbCreateBy,DbCreateTime,DbLastUpdateBy,DbLastUpdateTime,DisplayName) values(#{itemId},#{dirId},#{itemName},#{itemValue},#{isDefault},#{showOrder},#{memo},#{dbDeleted},#{dbCreateBy},#{dbCreateTime},#{dbLastUpdateBy},#{dbLastUpdateTime},#{displayName})
	</insert>
	<insert id="save" parameterType="SysDictItem">
		update sys_dictitems set DirId=#{dirId},ItemName=#{itemName},ItemValue=#{itemValue},IsDefault=#{isDefault},ShowOrder=#{showOrder},Memo=#{memo},DbDeleted=#{dbDeleted},DbCreateBy=#{dbCreateBy},DbCreateTime=#{dbCreateTime},DbLastUpdateBy=#{dbLastUpdateBy},DbLastUpdateTime=#{dbLastUpdateTime},DisplayName=#{displayName} where 1=1 and ItemId=#{itemId}
	</insert>
	<select id="get" parameterType="int" resultType="SysDictItem">
		select * from Sys_DictItems where itemId=#{itemId}
	</select>
	<delete id="delete" parameterType="int">
		delete from Sys_DictItems where itemId=#{itemId}
	</delete>
	<select id="getAllList" resultType="SysDictItem">
		select * from Sys_DictItems
	</select>
</mapper>
		