<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsmflying.mybatis.mapper.SysDataAuthMapper">

	<resultMap id="SysDataAuthResultMap" type="SysDataAuth">
	    <id property="authId" column="authId" />
		<result property="authName" column="AuthName"/>
		<result property="keyCode" column="KeyCode"/>
		<result property="memo" column="Memo"/>
		<result property="disabled" column="Disabled"/>
		<result property="dbDeleted" column="DbDeleted"/>
		<result property="dbCreateBy" column="DbCreateBy"/>
		<result property="dbCreateTime" column="DbCreateTime"/>
		<result property="dbLastUpdateBy" column="DbLastUpdateBy"/>
		<result property="dbLastUpdateTime" column="DbLastUpdateTime"/>

	</resultMap>
	<insert id="add" parameterType="SysDataAuth">
		insert into sys_dataauths(AuthId,AuthName,KeyCode,Memo,Disabled,DbDeleted,DbCreateBy,DbCreateTime,DbLastUpdateBy,DbLastUpdateTime) values(#{authId},#{authName},#{keyCode},#{memo},#{disabled},#{dbDeleted},#{dbCreateBy},#{dbCreateTime},#{dbLastUpdateBy},#{dbLastUpdateTime})
	</insert>
	<insert id="save" parameterType="SysDataAuth">
		update sys_dataauths set AuthName=#{authName},KeyCode=#{keyCode},Memo=#{memo},Disabled=#{disabled},DbDeleted=#{dbDeleted},DbCreateBy=#{dbCreateBy},DbCreateTime=#{dbCreateTime},DbLastUpdateBy=#{dbLastUpdateBy},DbLastUpdateTime=#{dbLastUpdateTime} where 1=1 and AuthId=#{authId}
	</insert>
	<select id="get" parameterType="int" resultType="SysDataAuth">
		select * from Sys_DataAuths where authId=#{authId}
	</select>
	<delete id="delete" parameterType="int">
		delete from Sys_DataAuths where authId=#{authId}
	</delete>
	<select id="getAllList" resultType="SysDataAuth">
		select * from Sys_DataAuths
	</select>
</mapper>
		