<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsmflying.mybatis.mapper.SysLogMapper">

	<resultMap id="SysLogResultMap" type="SysLog">
	    <id property="logId" column="logId" />
		<result property="logThread" column="LogThread"/>
		<result property="logLevel" column="LogLevel"/>
		<result property="logger" column="Logger"/>
		<result property="operatorId" column="OperatorId"/>
		<result property="operatorName" column="OperatorName"/>
		<result property="operationTime" column="OperationTime"/>
		<result property="operationType" column="OperationType"/>
		<result property="operationAddr" column="OperationAddr"/>
		<result property="machineIp" column="MachineIp"/>
		<result property="machineName" column="MachineName"/>
		<result property="browser" column="Browser"/>
		<result property="appName" column="AppName"/>
		<result property="clientSystemName" column="ClientSystemName"/>
		<result property="message" column="Message"/>

	</resultMap>
	<insert id="add" parameterType="SysLog">
		insert into sys_logs(LogId,LogThread,LogLevel,Logger,OperatorId,OperatorName,OperationTime,OperationType,OperationAddr,MachineIp,MachineName,Browser,AppName,ClientSystemName,Message) values(#{logId},#{logThread},#{logLevel},#{logger},#{operatorId},#{operatorName},#{operationTime},#{operationType},#{operationAddr},#{machineIp},#{machineName},#{browser},#{appName},#{clientSystemName},#{message})
	</insert>
	<insert id="save" parameterType="SysLog">
		update sys_logs set LogThread=#{logThread},LogLevel=#{logLevel},Logger=#{logger},OperatorId=#{operatorId},OperatorName=#{operatorName},OperationTime=#{operationTime},OperationType=#{operationType},OperationAddr=#{operationAddr},MachineIp=#{machineIp},MachineName=#{machineName},Browser=#{browser},AppName=#{appName},ClientSystemName=#{clientSystemName},Message=#{message} where 1=1 and LogId=#{logId}
	</insert>
	<select id="get" parameterType="int" resultType="SysLog">
		select * from Sys_Logs where logId=#{logId}
	</select>
	<delete id="delete" parameterType="int">
		delete from Sys_Logs where logId=#{logId}
	</delete>
	<select id="getAllList" resultType="SysLog">
		select * from Sys_Logs
	</select>
	<!--
	<select id="getListByProperties" parameterType="List<SqlParameter<?>>" resultType="SysLog">
		select * from Sys_Logs
	</select>
	<delete id="deleteByProperties" parameterType="List<SqlParameter<?>>">
		delete from Sys_Logs where logId=#{logId}
	</delete>
	-->
	<insert id="addList" parameterType="SysLog" >
		
	</insert>
	<update id="saveList" parameterType="SysLog">
	
	</update>
	<!--
	<update id="updateByProperties"  parameterType="List<SqlParameter<?>>" >
	
	</update>
	-->
	
	
	
	
</mapper>

