<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsmflying.mybatis.mapper.SysTabMapper">

	<resultMap id="SysTabResultMap" type="SysTab">
	    <id property="tabId" column="tabId" />
		<result property="tabName" column="TabName"/>
		<result property="parentTabId" column="ParentTabId"/>
		<result property="showOrder" column="ShowOrder"/>
		<result property="defaultUrl" column="DefaultUrl"/>
		<result property="tabType" column="TabType"/>
		<result property="levelDepth" column="LevelDepth"/>
		<result property="memo" column="Memo"/>
		<result property="dbDeleted" column="DbDeleted"/>
		<result property="dbCreateBy" column="DbCreateBy"/>
		<result property="dbLastUpdateBy" column="DbLastUpdateBy"/>
		<result property="dbCreateTime" column="DbCreateTime"/>
		<result property="dbLastUpdateTime" column="DbLastUpdateTime"/>

	</resultMap>
	<insert id="add" parameterType="SysTab">
		insert into sys_tabs(TabId,TabName,ParentTabId,ShowOrder,DefaultUrl,TabType,LevelDepth,Memo,DbDeleted,DbCreateBy,DbLastUpdateBy,DbCreateTime,DbLastUpdateTime) values(#{tabId},#{tabName},#{parentTabId},#{showOrder},#{defaultUrl},#{tabType},#{levelDepth},#{memo},#{dbDeleted},#{dbCreateBy},#{dbLastUpdateBy},#{dbCreateTime},#{dbLastUpdateTime})
	</insert>
	<insert id="save" parameterType="SysTab">
		update sys_tabs set TabName=#{tabName},ParentTabId=#{parentTabId},ShowOrder=#{showOrder},DefaultUrl=#{defaultUrl},TabType=#{tabType},LevelDepth=#{levelDepth},Memo=#{memo},DbDeleted=#{dbDeleted},DbCreateBy=#{dbCreateBy},DbLastUpdateBy=#{dbLastUpdateBy},DbCreateTime=#{dbCreateTime},DbLastUpdateTime=#{dbLastUpdateTime} where 1=1 and TabId=#{tabId}
	</insert>
	<select id="get" parameterType="int" resultType="SysTab">
		select * from Sys_Tabs where tabId=#{tabId}
	</select>
	<delete id="delete" parameterType="int">
		delete from Sys_Tabs where tabId=#{tabId}
	</delete>
	<select id="getAllList" resultType="SysTab">
		select * from Sys_Tabs
	</select>
</mapper>
		