<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2009-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fsmflying.mybatis.mapper.SysUserMapper">

	<resultMap id="SysUserResultMap" type="SysUser">
	  	<id property="userId" column="userId" />
		<result property="username" column="Username"/>
		<result property="userPwd" column="UserPwd"/>
		<result property="nickname" column="Nickname"/>
		<result property="ipPolicy" column="IpPolicy"/>
		<result property="ipAddress" column="IpAddress"/>
		<result property="registerTime" column="RegisterTime"/>
		<result property="lastLoginTime" column="LastLoginTime"/>
		<result property="status" column="Status"/>
		<result property="disabledTime" column="DisabledTime"/>
		<result property="disabledMinutes" column="DisabledMinutes"/>
		<result property="pwdPromptQuestion" column="PwdPromptQuestion"/>
		<result property="pwdProtectQuestion" column="PwdProtectQuestion"/>
		<result property="pwdProtectAnswer" column="PwdProtectAnswer"/>
		<result property="email" column="Email"/>
		<result property="dbDeleted" column="DbDeleted"/>
		<result property="dbCreateBy" column="DbCreateBy"/>
		<result property="dbLastUpdateBy" column="DbLastUpdateBy"/>
		<result property="dbCreateTime" column="DbCreateTime"/>
		<result property="dbLastUpdateTime" column="DbLastUpdateTime"/>
	</resultMap>
	
	<select id="get" parameterType="int" resultType="SysUser">
		select * from sys_users where userid=#{id}
	</select>
	<select id="getByUsername" parameterType="String" resultType="SysUser">
		select * from sys_users where lower(username)=lower(#{username})
	</select>
	<select id="getAllList" resultType="SysUser">
		select * 
		from sys_users 		
	</select>
	
	<insert id="add" parameterType="SysUser">
		insert into sys_users(UserId,Username,UserPwd,Nickname,IpPolicy,IpAddress,RegisterTime,LastLoginTime,
		Status,DisabledTime,DisabledMinutes,PwdPromptQuestion,PwdProtectQuestion,PwdProtectAnswer,Email,
		DbDeleted,DbCreateBy,DbLastUpdateBy,DbCreateTime,DbLastUpdateTime) 
		values(#{userId},#{username},#{userPwd},#{nickname},#{ipPolicy},#{ipAddress},#{registerTime},#{lastLoginTime},
		#{status},#{disabledTime},#{disabledMinutes},#{pwdPromptQuestion},#{pwdProtectQuestion},#{pwdProtectAnswer},#{email},
		#{dbDeleted},#{dbCreateBy},#{dbLastUpdateBy},#{dbCreateTime},#{dbLastUpdateTime})
	</insert>
	<update id="save" parameterType="SysUser">
		update sys_users 
		set Username=#{username},UserPwd=#{userPwd},Nickname=#{nickname},IpPolicy=#{ipPolicy},
		IpAddress=#{ipAddress},RegisterTime=#{registerTime},LastLoginTime=#{lastLoginTime},Status=#{status},DisabledTime=#{disabledTime},
		DisabledMinutes=#{disabledMinutes},PwdPromptQuestion=#{pwdPromptQuestion},PwdProtectQuestion=#{pwdProtectQuestion},PwdProtectAnswer=#{pwdProtectAnswer},Email=#{email},
		DbDeleted=#{dbDeleted},DbCreateBy=#{dbCreateBy},DbLastUpdateBy=#{dbLastUpdateBy},DbCreateTime=#{dbCreateTime},DbLastUpdateTime=#{dbLastUpdateTime}
		where 1=1 and UserId=#{userId}
	</update>

</mapper>
