<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />
	
	<typeAliases>
		<typeAlias type="com.fsmflying.mybatis.internal.Student" alias="Student" />
		<typeAlias type="com.fsmflying.mybatis.internal.Teacher" alias="Teacher" />
		<typeAlias type="com.fsmflying.mybatis.internal.Subject" alias="Subject" />
		<typeAlias type="com.fsmflying.mybatis.internal.Course" alias="Course" />
		<typeAlias type="java.lang.Integer" alias="Integer" />
	</typeAliases>
	<environments default="common_sysadmin">
		<environment id="common_sysadmin">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${educations01.driverClassName}" />
				<property name="url" value="${educations01.url}" />
				<property name="username" value="${educations01.username}" />
				<property name="password" value="${educations01.password}" />
			</dataSource>
		</environment>
		<!--  
		<environment id="common_sequence">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${sequence.driver}" />
				<property name="url" value="${sequence.url}" />
				<property name="username" value="${sequence.username}" />
				<property name="password" value="${sequence.password}" />
			</dataSource>
		</environment>
		<environment id="common_log">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${log.driver}" />
				<property name="url" value="${log.url}" />
				<property name="username" value="${log.username}" />
				<property name="password" value="${log.password}" />
			</dataSource>
		</environment>
		-->
	</environments>
	<databaseIdProvider type="DB_VENDOR">
	  <property name="SQL Server" value="sqlserver"/>
	  <property name="DB2" value="db2"/>        
	  <property name="Oracle" value="oracle" />
	</databaseIdProvider>
	<mappers>
		<mapper resource="com/fsmflying/mybatis/internal/mapper/xml/InternalMapper.xml" />
		<!--  
		<mapper resource="com/fsmflying/mybatis/internal/mapper/xml/StudentMapper.xml" />
		<mapper resource="com/fsmflying/mybatis/internal/mapper/xml/TeacherMapper.xml" />
		<mapper resource="com/fsmflying/mybatis/internal/mapper/xml/SubjectMapper.xml" />
		<mapper resource="com/fsmflying/mybatis/internal/mapper/xml/CourseMapper.xml" />
		
		<mapper class="com.fsmflying.mybatis.internal.mapper.InternalMapper" />
		<mapper class="com.fsmflying.mybatis.internal.mapper.StudentMapper" />
		<mapper class="com.fsmflying.mybatis.internal.mapper.TeacherMapper" />
		<mapper class="com.fsmflying.mybatis.internal.mapper.SubjectMapper" />
		<mapper class="com.fsmflying.mybatis.internal.mapper.CourseMapper" />
		-->
	</mappers>
</configuration>